/* CSS SETUP START – ne rien modifier ici, éditez plus bas */
footer {
  height: 80px;
  text-align: center;
}
h1,
p {
  color: white;
  margin: 0 0 15px 0;
}
nav a {
  border-bottom: 1pix solid rgba(255,255,255,.3);
  color: white;
  display: block;
  line-height: 40px;
  text-decoration: none;
}
/* CSS SETUP END */
/* Commentez les propriétés CSS des exercices sur lesquels vous ne travaillez pas. Mais surtout ne les effacez pas, je vérifierai le code de chacun des exercices */

/* EXERCICE 4 */
main {
  display: flex;
}
nav {
  width: 20%;
}
nav,
  article {
    height: 75vh;
}
